import { {{pascalCase name}}Props } from './interfaces';
import * as S from './styles';

export function {{pascalCase name}}({ text }: {{pascalCase name}}Props) {
  return (
    <S.Container>
      <h1>{text}</h1>
    </S.Container>
  );
}
